html {
    font-family: Persona5, sans-serif;
    font-size: xx-large;
}
body {
    background-color: red;
}
.gameContainer {
    width: 1280px;
    height:  720px;
    border: 5px black solid;
    margin: auto;
    position: relative;
}
#gameContainerPreSkillSelect {
    background-image: url(./assets/battle-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#preSkillSelect {
    position: absolute;
    left: 158px;
    top: 260px;
    transform:scale(0.59) rotate(-7deg);
    
}
#preSkillSelect img {
    animation-name: bobbing;
    animation-duration: 3s;
    animation-timing-function: ease-in-out ;
    animation-iteration-count: infinite;
}
@keyframes bobbing {
    0% { transform: scale(1);}
    50% { transform: scale(1.075);}
    100% { transform: scale(1);}
}
.hpcount {
    position: absolute;
    color: rgb(101, 242, 221);
    opacity: 80%;
    /*transform: rotate(5deg);*/
    font-size: 31px
}

#hpCountPreSkillSelect {
    bottom: 36px;
    right: 107px;
}
#hpCountSkillSelect {
    bottom: 66px;
    right: 137px;
}
#GameContainerLoadingScreen {
    background-image: url(./assets/tutorial-general.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#preGameStartDialogueCard {
    position: relative;
    width: 800px;
    height: 200px;
    top: 140px;
    left: 250px;
}
#preGameStartDialogueCard h2 {
    text-align: center;
    margin-top: 100px;
    transform: rotate(-2deg);
    color: #484848;
    font-size: xx-large;
}

#preGameStartDialogueCard p {
    color: white;
    position: absolute;
    left: 50px;
    top: 30px;
}
.difficultySelector {
    display: none;
    position: absolute;
    right: 200px;
}

/* Skill Selection */
#gameContainerSkillSelect {
    background-image: url(./assets/skillpick.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}